.container
    .article-edit-wrapper
        .article-edit-wrapper-left
            = link_to 'Cancel', root_path 
        .article-edit-wrapper-center
            %h2 Status
        .article-edit-wrapper-right
            %p Post
    .article-edit-user
        .article-edit-user-avatar
            = image_tag 'def-avatar.png'
        .article-edit-user-name
            %p Jackie Chan
    .article-edit-form
        = form_with(url: articles_path, method: 'post', local: true ) do |f|
            .article-edit-form-content
                = f.text_field :content
            .article-edit-form-img
                = f.file_field :images



